body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #333;
}

.game-container {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(9, 75px);
    gap: 0.25rem;
    margin: 0 auto;
    padding: 1rem;
    background-color: rgb(0 0 0 / 23%);
    border: 2px solid #333;
    border-radius: 5px;
    justify-items: center;
}

.card {
    width: 63px;
    height: 88px;
    background-color: #ddd;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 0.125rem solid white;
    border-radius: 15%;
    --s: 32px; /* control the size */
    --c1: #F8B195;
    --c2: #355C7D;
    --_g: 
       var(--c2) 6%  14%,var(--c1) 16% 24%,var(--c2) 26% 34%,var(--c1) 36% 44%,
       var(--c2) 46% 54%,var(--c1) 56% 64%,var(--c2) 66% 74%,var(--c1) 76% 84%,var(--c2) 86% 94%;
    background:
      radial-gradient(100% 100% at 100% 0,var(--c1) 4%,var(--_g),#0008 96%,#0000),
      radial-gradient(100% 100% at 0 100%,#0000, #0008 4%,var(--_g),var(--c1) 96%)
      var(--c1);
    background-size: var(--s) var(--s);
}

.card.flipped {
    background: #333;
    color: white;
    border: 0.125rem solid white;
}

.card.matched {
    color: white;
    pointer-events: none; /* Prevent clicking matched cards */
}

.card.matched#PlayerOne {
    border: 0.125rem solid green;
}

.card.matched#PlayerTwo {
    border: 0.125rem solid blue;
}

.card.matched#PlayerThree {
    border: 0.125rem solid red;
}

.card.matched#PlayerFour {
    border: 0.125rem solid purple;
}

button {
    font-size: 22px;
    margin: 1rem;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
}

button#reset-game {
    opacity: 50;
    background-color: white;
    border: 0.125rem solid red;
    color: red;
}

#scoreboard {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 0.125rem;

    > div:nth-child(1) span {
        border: 0.125rem solid green;
    }

    > div:nth-child(2) span {
        border: 0.125rem solid blue;
    }

    > div:nth-child(3) span {
        border: 0.125rem solid red;
    }

    > div:nth-child(4) span {
        border: 0.125rem solid purple;
    }
}

@media screen and (max-width: 500px) {
    .game-container {
        grid-template-columns: repeat(3, 50px);
        padding: 0.5rem;
        gap: 0.125rem;
    }
}

@media screen and (min-width: 501px) and (max-width: 768px) {
    .game-container {
        grid-template-columns: repeat(6, 75px);
        padding: 0.5rem;
        gap: 0.125rem;
    }
}